---
import { Icon } from 'astro-icon/components';
import MovieCards from './MovieCards.astro';

const searchQuery = Astro.url.searchParams.get('search') || null;
const list = searchQuery ? 'search' : Astro.props.list || 'popular';
const page = +(Astro.props.page || 1);

const apiKey = import.meta.env.TMDB_API_KEY;
const apiUrl = searchQuery
  ? `https://api.themoviedb.org/3/search/movie?query=${encodeURIComponent(searchQuery)}&include_adult=false&language=en-US&page=${page}&api_key=${apiKey}`
  : `https://api.themoviedb.org/3/movie/${list}?include_adult=false&language=en-US&page=${page}&api_key=${apiKey}`

const response = await fetch(apiUrl);
const data = await response.json();
---
<div id="paged-results" hx-boost>
  <div class="flex flex-col md:flex-row justify-around font-bold uppercase mb-6">
    {
      [
        ['Ara al cine', 'now_playing'],
        ['Populars', 'popular'],
        ['Més valorats', 'top_rated'],
        ['Properament', 'upcoming'],
      ].map(([text, category]) => (
        <a
          class={`px-4 py-2 hover:bg-neutral-900 ${list === category && 'border-b-2 border-yellow-400'}`}
          href={`?list=${category}`}
          hx-get={`/partials/paged-movies/?list=${category}`}
          hx-target="#paged-results"
          hx-swap="outerHTML"
          hx-push-url={`/?list=${category}`}
        >{text}</a>
      ))
    }
  </div>
  {
    searchQuery ? null : <div class="flex justify-between items-center px-5 mb-3 font-bold">
      <a
        class={`${page === 1 && 'text-black'} hover:bg-neutral-900 font-bold rounded py-1 px-2 flex items-end gap-2`}
        href={`?page=${page - 1}`}
        hx-get={`/partials/paged-movies/?list=${list}&page=${page - 1}`}
        hx-target="#paged-results"
        hx-swap="outerHTML"
        hx-push-url={`/?list=${list}&page=${page - 1}`}
        style={`${page === 1 && 'pointer-events: none; user-select: none'}`}
      >
        <Icon name="mdi:arrow-left-bold" size={20}/>
        anterior
      </a>
      <p class="font-normal">- {page} -</p>
      <a
        class="hover:bg-neutral-900 rounded py-1 px-2 flex items-end gap-2"
        href={`?page=${page + 1}`}
        hx-get={`/partials/paged-movies/?list=${list}&page=${page + 1}`}
        hx-target="#paged-results"
        hx-swap="outerHTML"
        hx-push-url={`/?list=${list}&page=${page + 1}`}
      >
        següent
        <Icon name="mdi:arrow-right-bold" size={20}/>
      </a>
    </div>
  }
  <MovieCards movies={data.results}/>
</div>
